{% extends 'base.html' %}

{% block titulo_conteudo %} Listagem de Produtos {% endblock %}

{% block conteudo %}

<a href='{% url 'form_produto' %}' class="btn btn-primary">Inserir Novo</a>
<a href="" class="btn btn-secondary">Recarregar</a>

<table style="margin-top:15px" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Imagem</th> <th scope="col">Nome</th>
            <th scope="col">Preço (R$)</th>
            <th scope="col">Categoria</th>
            <th scope="col">Qtde</th> <th scope="col">Ações</th>
        </tr>
    </thead>
    
    <tbody>
        {% for item in lista %}
        <tr>
            <td>{{ item.id }}</td>
            
            <td class="text-center">
                {% if item.img_base64 %}
                    <img src="{{ item.img_base64 }}" style="max-width: 50px; max-height: 50px;" alt="Produto">
                {% else %}
                    <span class="text-muted">Sem img</span>
                {% endif %}
            </td>

            <td>{{ item.nome }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.categoria }}</td>
            
            <td>{{ item.estoque.qtde }}</td> 

            <td>
                <a href="{% url 'detalhes_produto' item.id %}" class="btn btn-info btn-sm">Detalhes</a>
                
                <a href="{% url 'ajustar_estoque' item.id %}" class="btn btn-success btn-sm">Estoque</a>
                
                <a href="{% url 'editar_produto' item.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_produto' item.id %}" class="btn btn-danger btn-sm" 
                   onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}