{% extends 'base.html' %}

{% block titulo_conteudo %} Listagem de Produtos {% endblock %}

{% block conteudo %}

<a href='{% url 'form_produto' %}' class="btn btn-primary">Novo Produto</a>
<a href="" class="btn btn-secondary">Recarregar</a>

<table style="margin-top:15px" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Preço</th>
            <th scope="col">Estoque</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ações</th>  
        </tr>
    </thead>
    
    <tbody>
        {% for item in lista %}
        <tr>
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.preco}}</td>
            <td>{{item.estoque}}</td>
            <td>{{item.categoria}}</td>
            <td> 
                <a href="{% url 'detalhes_produto' item.id %}" class="btn btn-info">Detalhes</a>
                <a href="{% url 'editar_produto' item.id %}" class="btn btn-warning">Alterar</a>
                <a href="{% url 'excluir_produto' item.id %}" class="btn btn-danger" 
                    onclick="return confirm('Tem certeza que deseja remover este registro?');">Excluir</a>
            </td> 
        </tr>
        {% endfor %}
     </tbody>
</table>

{% endblock %}