{% extends 'base.html' %}

{% block titulo_conteudo %} Listagem de Pedidos {% endblock %}

{% block conteudo %}

<a href="" class="btn btn-secondary">Recarregar</a>

<table style="margin-top:15px" class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Cliente</th>
            <th scope="col">Data</th>
            <th scope="col">Situação</th>
            <th scope="col">Produtos</th>
            <th scope="col">Total (R$)</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in lista %}
        <tr>
            <td>{{ pedido.id }}</td>
            <td>{{ pedido.cliente.nome }}</td>
            <td>{{ pedido.data_pedidof }}</td>
            <td>{{ pedido.get_status_display }}</td>
            <td>?</td>
            <td>?</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm">Detalhes</button>
                <a href="{% url 'excluir_pedido' pedido.id %}" class="btn btn-danger btn-sm"
                   onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}